/* ------------ Housekeeping ------------ */

body { 
	background-color: #f5fffa;
	font-family: Arial, Helvetica, sans-serif;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
}

footer p {
	font-size: 8pt;
	line-height: 50%;
	text-align: right;
	margin: 10px;
}

h2:first-child { margin: 2px 0 20px; }

/* ------------ Table ------------ */

table { 
	table-layout: fixed;
	border-collapse: collapse; 
	width: 100%;
}

th, td { 
	position: relative;
	padding: 10px 20px 10px 20px;
	text-align: left;
	vertical-align: top;
}

th { background-color: white; }

tr:hover, figcaption:hover { background-color: white; }

/* ------------ Submit button ------------ */

.button {
	background-color: #008cba;
	border: none;
	color: white;
	padding: 3px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.button:hover {	box-shadow: 0 0 2px 1px silver; }

/* ------------ Error message ------------ */

.error { color: red; }

#message {
	font-size: 15pt;
	font-weight: bold;
}

/* ------------ Navigation bar (login/logout) ------------ */

.navbar {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 20px;
}

.navbar-right {
	display: inline-block;
	padding: 5px;
	background-color: white;
}

nav ul {
	list-style-type: none;
	border-collapse: collapse;
	line-height: 1.5;
}

nav ul li {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-text {
	padding-right: 5px;
	font-weight: bold;
	color: blue;	
}

.navbar-links {
	text-decoration: none;
	color: black;
	padding: 5px 10px;
	border: 1px solid black;
}

.navbar-links:hover {
	color: white;
	background-color: #008cba;
}

/* ------------ Warning box ------------ */

#unauthorized, #login {
	display: flex;
	justify-content: center;
}

.box {
	color: red;
	border: 4px solid red;
	background-color: white;
	position: relative;
	margin: auto;
}

.box h1 { margin: 15px; }

.center { text-align: center; }

.restricted {
	font-size: 20px;
	margin-bottom: 15px;
}

.logout{ margin-bottom: 15px; }

/* ------------ Search bars ------------ */

.search-bars {
	background-color: #dbf6ff;
	left:0;
	right: 0;
	padding: 15px;
	margin: auto;
}

/* ------------ Radio buttons ------------ */

.search-bar-radio { display: inline-block; }

.search-bar-radio label { 
	cursor: pointer; 
	display: inline-block;
	margin-right: 10px;
}

.search-bar-radio input { display: none; }

.search-bar-radio label span {
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	height: 17px;
	width: 17px;
	background-color: #008cba;
	border-radius: 50%;
	margin: 8px;
	box-shadow: 0 0 0 2px #008cba;
}

.search-bar-radio label:hover span {
	background-color: #778899;
}

.search-bar-radio input:checked + label span {
	height: 17px;
	width: 17px;
	background-color: #778899;
	box-shadow: 0 0 0 2px #008cba;
}

/* ------------ Dropdown menu ------------ */

.search-bar-dropdown { 
	display: block; 
	position: relative;
	padding-top: 15px;
}

.search-bar-dropdown select {
	background-color: #008cba;
	appearance: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	height: 30px;
	width: 120px;
	color: white;
	padding-left: 7px;
}

.search-bar-dropdown select option { background-color: #778899; }

.search-bar-dropdown input {
	height: 30px;
	min-width: 55px;
}
